{% extends 'base.html' %}

{% block content %}

    <main>
        <h3>Как пользоваться нашим сайтом:</h3>
        <ol>
            <li><strong>Просмотрите каталог:</strong> Перейдите на страницу <a href="{% url 'product_list' %}">каталога</a>, чтобы выбрать понравившиеся букеты.</li>
            <li><strong>Добавьте товары в корзину:</strong> На странице букета нажмите "Добавить в корзину".</li>
            <li><strong>Откройте корзину:</strong> Посетите страницу <a href="{% url 'view_cart' %}">корзины</a>, чтобы просмотреть выбранные товары.</li>
            <li><strong>Оформите заказ:</strong> В корзине нажмите "Оформить заказ" и заполните необходимые данные для доставки.</li>
            <li><strong>Следите за статусом заказа:</strong> После оформления вы сможете отслеживать статус в разделе "Мои заказы".</li>
        </ol>

        <h3> Дополнительные возможности:</h3>
        <ul>
            <li><strong>Отзывы и рейтинги:</strong> Оставляйте отзывы о букетах прямо на странице товара.</li>
            <li><strong>Повторные заказы:</strong> Вы можете повторить свои заказы из истории покупок.</li>
        </ul>

        <h4>Начните с выбора букета!</h4>
        <p><a href="{% url 'product_list' %}">Перейти в каталог</a></p>
    </main>
{% endblock %}
